
.div-relative{position:relative; color:#000; border:1px solid #000; width:100%; height:100%} 
.div-a{ position:absolute; background:transparent; top: 30%;left: -2.3% ;width:70%; height:70%} 
.div-b{ position:absolute; background:transparent; top:-10%; left: -3% ;width:90%; height:200%} 
.div-c{ position:absolute; background:transparent; top:-0%; left: 10% ;width:100%; height:100%} 
